<h1 mat-dialog-title>Edit product </h1>
<form [formGroup]="myform" (ngSubmit)="UpdateCustomer()">
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Name </mat-label>
    <input matInput type="text" formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput type="text" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Rate</mat-label>
    <input matInput type="number" formControlName="rate">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Stock</mat-label>
    <input matInput type='number'formControlName="stock">
  </mat-form-field>

</div>
<div mat-dialog-actions class="mat-actions">
  <button mat-raised-button  mat-dialog-close color="warn">
   Cancel
  </button>

  <button mat-raised-button (click)='closeModal()' color="accent">
    Update
   </button>
</div>
</form>