<h1 mat-dialog-title>Add Customer </h1>
<form [formGroup]="addUserForm" (ngSubmit)="AddCustomer()">
<div mat-dialog-content>

  <mat-form-field>
    <mat-label>Name </mat-label>
    <input matInput type="text" formControlName="name" >
  </mat-form-field>

  <mat-form-field>
    <mat-label>Contact</mat-label>
    <input matInput type="text" formControlName="contact">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput type="text" formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Address</mat-label>
    <input matInput type='text'formControlName="address">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Username</mat-label>
    <input matInput type='text'formControlName="username">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Password</mat-label>
    <input matInput type='text'formControlName="password">
  </mat-form-field>

</div>
<div mat-dialog-actions class="mat-actions">
  <button mat-raised-button  mat-dialog-close color="warn">
   Cancel
  </button>

  <button mat-raised-button (click)='closeModal()' color="accent">
    Add
   </button>
</div>
</form>