<p>products works!</p>
<button  mat-raised-button color="warn" (click)="openAddModal()">
  Add
</button>
<!-- <app-navigation></app-navigation> -->
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> SNo. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <ng-container matColumnDef="perUnit">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> Rate </th>
      <td mat-cell *matCellDef="let element"> {{element.perUnit}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="stock">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> Stock </th>
      <td mat-cell *matCellDef="let element"> {{element.stock}} </td>
    </ng-container>



    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="background-color: rgb(109, 185, 239);"> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button  mat-icon-button (click)="openDialog(element)">
          <mat-icon >edit</mat-icon>   
        </button>
        <button mat-icon-button>
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
