<div class="container">
  <!-- <div class="logo">
    <img src="../../assets/parasDai.png" style="height: 200px; margin-top: 100px;" alt="img" />
  </div> -->
  <div class="menus">
    <div class="menu">Home</div>
    <div class="menu">Blog</div>
    <div class="menu">Contact</div>
    <div class="menu">About</div>

  </div>
</div>
