* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  align-items: center;
  width: 100%;
}

.menus {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 10%;
  width: 80%;
}

.menu {
  margin-left: 6%;
}

  .menu:hover {
    color: red;
    text-decoration: underline;
    font-weight: bold;
  }
