<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Design by foolishdeveloper.com -->
    <title>Glassmorphism login Form Tutorial in html css</title>
 
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">

</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    
      <div class="form">

        <h3>Login Here</h3>
        
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="username" [(ngModel)]="loginObj.username">
        
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" [(ngModel)]="loginObj.password">
        
        <button type="submit" (click)="login()">Log In</button>
        <div class="social">
          <div class="go"><i class="fab fa-google"></i>  Google</div>
          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
      </div>
      
</body>
</html>
